*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

button{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */

.header{
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-container{
    width: 1370px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
}

.header-row{
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header-logo{
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    margin-right: 765px;
}

.header-logo:hover, .header-auth a:hover{
    color: #01813F;
    transition: color 0.2s ease;
}

.header-nav ul{
    display: flex;
}

.header-nav li + li{
    margin-left: 25px;
}

.header-nav svg{
    fill: #ffffff;
}

.header-nav svg:hover{
    fill: #01813F;
    transition: 0.2s ease;
}

.header-auth{
    padding: 3px 0 3px 27px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: auto;
}

input {
    outline: none;
}

/* Form */

.form{
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: fixed;
    top: calc(50% - (584px - 62px)/2);
    left: calc(50% - 444px/2);
}

.form-container{
    width: 324px;
    margin: 0 auto;
    padding-top: 31px;
    position: relative;
}

.form-container::after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 32px;
    left: -60px;
    background-image: url("../img/square.jpg");
}

.form-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-title h1{
    color: #434343;
    font-size: 20px;
    line-height: 1;
}

.

.form-title a, .checkbox a{
    color: #3CB878;
}

.social-btn{
   display: flex;
   gap: 10px;
   margin-bottom: 34px;
}

.btn-fb{
    width: 157px;
    height: 46px;
    background-color: #305DB8;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-fb:hover{
    background-color: #022263;
    transition: 0.4s ease;
}

.btn-fb img{
    position: relative;
    top: 0;
    left: 17px;
}

.btn-fb span{
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
    padding: 5px 22px 5px 18px;
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    margin-left: 31px;
}

.btn-google span{
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
    padding: 5px 26px 5px 30px;
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    margin-left: 18px;
}

.btn-google {
    width: 157px;
    height: 46px;
    background-color: #DF4A32;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-google img {
    position: relative;
    top: 0;
    left: 10px;
}

.btn-google:hover{
    background-color: #AB1F09;
    transition: 0.4s ease;
}

.form-container div:nth-child(3){
    position: relative;
}

.form-text{
    color: #848484;
    background-color: #ffffff;
    position: absolute;
    top: -8px;
    right: 156px;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 20px;
    border-top: 1px solid #F2F2F2 ;  
}

.form-inputs input{
    height: 44px;
    border: none;
    padding-left: 19px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.form-inputs input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

.checkbox{
    color: #434343;
    margin-top: 12px;
    margin-bottom: 20px;
}

.custom-checkbox{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    vertical-align: sub;
    margin-right: 8px;
}

.real-checkbox{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom-checkbox::before{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("../img/check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 3px;
    left: 3px;
    opacity: 0;
    transition: 0.4s ease;
}

.real-checkbox:checked + .custom-checkbox::before{
    opacity: 1;
}

.checkbox a:hover, .form-title a:hover{
  color: #01813F;
  transition: 0.4s ease;
  text-decoration:underline;
}

.btn{
    height: 46px;
    color: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    padding-left: 107px;
    padding-right: 107px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: #01813F;
    transition:  0.4s ease;
}
